# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environments
# ==============================

venv/
.venv/
env/
ENV/

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# Dataset
# ==============================

dataset/
datasets/
feature_chunks/

# ==============================
# Uploaded / Temporary Audio
# ==============================

backend/app/uploads/
uploads/
*.tmp
*.temp

# ==============================
# Python Build / Distribution
# ==============================

build/
dist/
*.egg-info/

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Environment / Secrets
# ==============================

.env
.env.*
!.env.example

# ==============================
# Logs
# ==============================

*.log